{% extends 'base.html' %}

{% block title %}Boleta{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-warning text-dark text-center">
            <h4>Boleta Nº {{ boleta.numero_boleta }}</h4>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Fecha:</strong> {{ boleta.fecha_emision }}</p>
                </div>
                <div class="col-md-6 text-end">
                    <p><strong>Nombre:</strong> {{ boleta.cliente.first_name }} {{ boleta.cliente.last_name }}</p>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="bg-light">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in boleta.detalles.all %}
                    <tr>
                        <td>{{ detalle.producto.nombre }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>${{ detalle.prodducto.precio }}</td>
                        <td>${{ detalle.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-end"><strong>Total:</strong></td>
                        <td><strong>${{ boleta.total }}</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer text-center">
            <p>Gracias por tu compra en KM Store</p>
        </div>
    </div>
</div>
{% endblock %}
