{% extends 'home.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Tu Carrito de Compras</h2>
    {% if total_items > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                    <th>Acciones</th> 
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.producto.nombre }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>${{ item.producto.precio }}</td>
                        <td>${{ item.total_item }}</td> <!-- Muestra el total calculado para cada item -->
                        <td>
                            <form action="{% url 'eliminar_producto_carrito' item.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </tbody>
            <div class="container text-start">
            <h3>Total de Productos: {{ total_items }}</h3>
            <h3>Total del Carrito: ${{ total_carrito }}</h3> <!-- Muestra el total del carrito calculado -->
            </div>    
            <div class="container text-center">
                <a href="{% url 'crear_boleta' %}" class="btn btn-primary text-white">Generar pedido</a>
            </div>
            <div class="container text-center">
                <a href="{% url 'lista_productos' %}" class="btn btn-primary text-white mt-2">Buscar Mas Productos</a>
            </div>
    {% else %}
        <p>Tu carrito está vacío.</p>
        <a href="{% url 'lista_productos' %}" class="btn btn-primary text-white">Agregar Productos</a>
    {% endif %}
</div>
{% endblock %}
