{% extends 'home.html' %}

{% block content %}
<div class="container mt-5 bg-primary text-white" style="border-radius: 20px;">
    <h2 class="mt-5 text-center py-4">Añadir Nuevo Producto</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="nombre">Nombre del Producto:</label>
            <input type="text" name="nombre" id="nombre" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="descripcion" class="form-control" rows="3" required></textarea>
        </div>

        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" name="precio" id="precio" class="form-control" min="1" placeholder="Ingresa valores numéricos" required>
        </div>

        <div class="form-group">
            <label for="stock">Cantidad en Stock:</label>
            <input type="number" name="stock" id="stock" class="form-control" min="0" placeholder="Ingresa valores numéricos" required>
        </div>

        <div class="form-group mt-4 bg-success p-2">
            <label for="imagen">Imagen del Producto (JPG):</label>
            <input type="file" name="imagen" id="imagen" class="form-control-file">
        </div>

        <button type="submit" class="btn btn-warning mt-4 mb-4">Guardar Producto</button>
    </form>
</div>
{% endblock %}
