{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    {% else %}
                        <img src="{% static 'default.png' %}" class="card-img-top" alt="Imagen no disponible">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
                        <p class="card-text"><strong>Stock:</strong> {{ producto.stock }}</p>
                        {% if not user.is_staff %}
                            <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn btn-primary text-white">Agregar al Carrito</a>
                        {% endif %}
                        {% if user.is_staff %}
                            <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
                            <a href="{% url 'actualizar_producto' producto.id %}" class="btn btn-warning">Actualizar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
