{% extends "home.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Panel de Administración</h2>
    <p>Bienvenido, {{ user.username }}. Aquí puedes gestionar el contenido del sitio.</p>
    <ul>
        <li><a href="{% url 'lista_productos' %}">Ver productos ACTUALIZAR o ELIMINAR</a></li>
        <li><a href="{% url 'crear_producto' %}">Añadir nuevo producto</a></li>
    </ul>
    <ul>
        {% for producto in productos %}
            <li>
                {{ producto.nombre }} - 
                <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
