{% extends 'home.html' %}
{% block content %}
<div class="container text-center mt-5 mb-5">
    <h1>NOSOTROS</h1>
    <p>Bienvenido a KM Store, la tienda creada para corredores por apasionados del running. Nos dedicamos a ofrecer las mejores zapatillas para quienes disfrutan cada kilómetro, ya sea en asfalto, senderos o pistas, y buscan un rendimiento superior en cada paso.

En KM Store, entendemos que el calzado adecuado es esencial para maximizar el rendimiento y cuidar la salud de tus pies. Trabajamos con las marcas líderes en el mundo del running, seleccionando modelos que combinan la última tecnología, comodidad y durabilidad para acompañarte en cada reto y ayudarte a alcanzar tus metas.

Nos enorgullece ser una tienda especializada en running, comprometida con brindar un servicio personalizado y asesorarte para encontrar las zapatillas ideales, ya sea para entrenamientos diarios, competiciones o aventuras en terrenos variados.

Gracias por confiar en KM Store como parte de tu camino. Estamos aquí para cada paso de tu viaje como corredor. ¡Explora nuestra tienda y encuentra el impulso que necesitas para superar cada kilómetro!</p>
</div>
{% endblock %}