{% extends 'home.html' %}

{% block content %}
<div class="container bg-primary text-white" style="border-radius: 20px; margin-bottom: 130px;">
    <h2 class="mt-5" style="text-align: center; padding: 20px;">Registro de Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nombre de Usuario: </label>
            <input type="text" name="username" id="username" placeholder="*Requerido. 150 carácteres como máximo. Únicamente letras, dígitos y @/./+/-/_" class="form-control" required>
            {% if form.username.errors %}
                <div class="text-danger">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="email">Correo Electrónico: </label>
            <input type="email" name="email" id="email" placeholder="*Requerido. Ingresa una dirección de correo electrónico válida." class="form-control" required>
            {% if form.email.errors %}
                <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="password1">Contraseña:</label>
            <input type="password" name="password1" id="password1" class="form-control" required>
            {% if form.password1.errors %}
                <div class="text-danger">{{ form.password1.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="password2">Confirma tu Contraseña:</label>
            <input type="password" name="password2" id="password2" placeholder="*Para verificar, introduzca la misma contraseña anterior." class="form-control" required>
            {% if form.password2.errors %}
                <div class="text-danger">{{ form.password2.errors }}</div>
            {% endif %}
            <ul>
                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                <li>Su contraseña no puede ser completamente numérica.</li>
            </ul>
        </div>

        <button type="submit" class="btn btn-warning mt-3">Registrarse</button>
    </form>
    <p class="mt-3 mb-3" style="text-align: center;">¿Ya tienes una cuenta? <a class="text-warning" href="{% url 'iniciar_sesion' %}">Iniciar sesión</a></p>
</div>
{% endblock %}
